#map{
    width: 60vw;
    height: 40em;
}

#map-page {
    background-color: #fce4ec;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

#l-content{
    display:flex;
}

l-info {

}

.marker {
    background: red;
}
